<h2>Combined Case First</h2>

<lib-code-based-icons name="arrowSortUpLarge"></lib-code-based-icons>
<lib-code-based-icons name="arrowUpLarge"></lib-code-based-icons>
<lib-code-based-icons name="articleLarge"></lib-code-based-icons>
<lib-code-based-icons name="assuranceLarge"></lib-code-based-icons>
<lib-code-based-icons name="availabilityLarge"></lib-code-based-icons>
<lib-code-based-icons name="billingLarge"></lib-code-based-icons>
<lib-code-based-icons name="bookmarkLarge"></lib-code-based-icons>
<lib-code-based-icons name="bulletLarge"></lib-code-based-icons>
<lib-code-based-icons name="calendarLarge"></lib-code-based-icons>
<lib-code-based-icons name="callbackLarge"></lib-code-based-icons>
<lib-code-based-icons name="cameraLarge"></lib-code-based-icons>
<lib-code-based-icons name="cartAddLarge"></lib-code-based-icons>
<lib-code-based-icons name="cartEmptyLarge"></lib-code-based-icons>
<lib-code-based-icons name="cartFullLarge"></lib-code-based-icons>
<lib-code-based-icons name="categoriesLarge"></lib-code-based-icons>
<lib-code-based-icons name="checkboxPlusCheckedLarge"></lib-code-based-icons>
<lib-code-based-icons name="checkboxPlusLarge"></lib-code-based-icons>
<lib-code-based-icons name="clearLarge"></lib-code-based-icons>
<lib-code-based-icons name="contactLarge"></lib-code-based-icons>
<lib-code-based-icons name="createLarge"></lib-code-based-icons>
<lib-code-based-icons name="currencyLarge"></lib-code-based-icons>
<lib-code-based-icons name="dangerSolidLarge"></lib-code-based-icons>
<lib-code-based-icons name="deactivateUserLarge"></lib-code-based-icons>
<lib-code-based-icons name="dictateLarge"></lib-code-based-icons>
<lib-code-based-icons name="directionLarge"></lib-code-based-icons>
<lib-code-based-icons name="discussionLarge"></lib-code-based-icons>
<lib-code-based-icons name="documentLarge"></lib-code-based-icons>
<lib-code-based-icons name="downloadLarge"></lib-code-based-icons>
<lib-code-based-icons name="editLarge"></lib-code-based-icons>
<lib-code-based-icons name="educationLarge"></lib-code-based-icons>
<lib-code-based-icons name="facebookLarge"></lib-code-based-icons>
<lib-code-based-icons name="favoriteHeartLarge"></lib-code-based-icons>
<lib-code-based-icons name="favoriteStarLarge"></lib-code-based-icons>
<lib-code-based-icons name="filterLarge"></lib-code-based-icons>
<lib-code-based-icons name="flagLarge"></lib-code-based-icons>
<lib-code-based-icons name="gpsLarge"></lib-code-based-icons>
<lib-code-based-icons name="graphLarge"></lib-code-based-icons>
<lib-code-based-icons name="hamburgerLarge"></lib-code-based-icons>
<lib-code-based-icons name="hidePassLarge"></lib-code-based-icons>
<lib-code-based-icons name="infoLarge"></lib-code-based-icons>
<lib-code-based-icons name="infoSolidLarge"></lib-code-based-icons>
<lib-code-based-icons name="infosoloLarge"></lib-code-based-icons>
<lib-code-based-icons name="instagramLarge"></lib-code-based-icons>
<lib-code-based-icons name="kakaoLarge"></lib-code-based-icons>
<lib-code-based-icons name="laptopLarge"></lib-code-based-icons>
<lib-code-based-icons name="linkedinLarge"></lib-code-based-icons>
<lib-code-based-icons name="listLarge"></lib-code-based-icons>
<lib-code-based-icons name="locationLarge"></lib-code-based-icons>
<lib-code-based-icons name="lockLarge"></lib-code-based-icons>
<lib-code-based-icons name="lodLarge"></lib-code-based-icons>
<lib-code-based-icons name="logoutLarge"></lib-code-based-icons>
<lib-code-based-icons name="mailLarge"></lib-code-based-icons>
<lib-code-based-icons name="mapLarge"></lib-code-based-icons>
