<h2>Combined Case Second</h2>

<lib-code-based-icons name="activate_large"></lib-code-based-icons>
<lib-code-based-icons name="add_user_large"></lib-code-based-icons>
<lib-code-based-icons name="arrow_sort_up_large"></lib-code-based-icons>
<lib-code-based-icons name="arrow_up_large"></lib-code-based-icons>
<lib-code-based-icons name="article_large"></lib-code-based-icons>
<lib-code-based-icons name="assurance_large"></lib-code-based-icons>
<lib-code-based-icons name="availability_large"></lib-code-based-icons>
